html *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubix', sans-serif;
    letter-spacing: 0.4px;
}

body {
    background-color: #ffffff;
    height: 100%;
    background: linear-gradient(
        135deg,
        #6149a5,
        #6149a5
    ) fixed;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.title{
    text-align: center;
    margin-top: 100px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    text-shadow: 5px 5px blue;
    color: rgb(74, 241, 172);
    opacity: 0.6;

}

.container{
    background-color: #ffffff;
    width: 450px;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
    border: black solid 5px;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;

}
.lbl {
    font-size: 16px;
    color: #44475b;
    font-weight: bold;
    

}
.val {
    color: #44475b;
    font-weight: bold;
    font-size: 16px;

}
.input-box{
    background-color: #cdccfd;
    color: #6149a5;
    padding: 5px;
}
#bill {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: #6149a5;
}
hr {
    border: none;
    border-bottom: 1px solid #cdccfd;
}
input[type="range"]{
    width: 100%;
    cursor: pointer;
    background-color: #6149a5;
}
input[type="range"]:not(:last-child){
    margin-bottom: 5px;
}
section:not(:last-child){
    margin-bottom: 40px;
}
section:not(:first-child){
    margin-top: 40px;
}
section:last-child{
    background-color: #cdccfd;
    padding: 10px;
    border-radius: 5px;
}
section:last-child .val,
section:last-child .lbl{
    color: #6149a5;
}


